<div class="container">

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Pending</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="true">Resolved</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="something-tab" data-toggle="tab" href="#something" role="tab" aria-controls="something"
                aria-selected="true">Submit</a>
        </li>
    </ul>
    <div class="tab-content" id="my-tab-contents">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <app-reimbursement-by-user></app-reimbursement-by-user>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <app-resolved></app-resolved>
        </div>
        <div class="tab-pane fade" id="something" role="tabpanel" aria-labelledby="something-tab">
                <app-submit></app-submit>
            </div>
    </div>


</div>