<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" >
  <!-- <div class="container text-center">
    <div class="pc-only">
      <strong class="navbar-brand">Expense Reimbursement System</strong>
    </div>
    <div class="mobile-only">
      <strong class="navbar-brand">ERS</strong>
    </div>
  </div> -->
  <div class="col-2 col-md-4 col-lg-6 col-xl-7">
      <strong class="navbar-brand">Reimbursement Portal</strong>
  </div>
  <div class="col-10 col-md-8 col-lg-6 col-xl-5">
      <div class="pc-only float-right">
          <div class="row">
              <div class="col-md-3">
                  <a class="btn btn-warning" routerLink='/login' (click)="logout()">Logout</a>
              </div>
          </div>
      </div>
  </div>
</nav>